﻿@model Website.Models.DiaDiem

@using (Html.BeginForm("Search", "Cafe", FormMethod.Post))
{
        <div>
            Tag: @Html.TextBox("searchString")
            <input type="submit" value="Tìm kiếm" />
        </div>
}