﻿<link href="~/Content/mystyle.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}
<div class="danhmuc">
    <a style="color:white">@Html.ActionLink("Cafe","Index","Cafe")</a><a style="color:white">|</a>
    <a style="color:white">@Html.ActionLink("Kem","Index","Cafe")</a><a style="color:white">|</a>
    <a style="color:white">@Html.ActionLink("Phòng trà","PhongTra","Cafe")</a>
    </div>
