﻿@model IEnumerable<Website.Models.DiaDiem>

@{
    ViewBag.Title = "DiaDiem";
}

<div class="danhmuc">
    <a style="color:white">@Html.ActionLink("Món ăn","MonAn","YeuThichNhat")</a><a style="color:white">|</a>
    <a style="color:white">@Html.ActionLink("Địa điểm","DiaDiem","YeuThichNhat")</a><a style="color:white">|</a>
    <a style="color:white">@Html.ActionLink("Giá rẻ","GiaRe","YeuThichNhat")</a>
    </div>
@foreach (var item in Model) {
    <div class="hinh">
        <a href="/YeuThichNhat/ChiTietDiaDiem/@Html.DisplayTextFor(modelItem => item.ID)">
            <img style="display: block; margin-left: auto; margin-right: auto;"src="@Html.DisplayTextFor(modelItem => item.HinhAnh)"width="300" height="300" />
        </a>
    </div>
        <div class="noidung">
            <a href="/YeuThichNhat/ChiTietDiaDiem/@Html.DisplayTextFor(modelItem => item.ID)">
                <h2>@Html.DisplayTextFor(modelItem=>item.Ten)</h2>
            </a> 
                <p>Địa chỉ: @Html.DisplayTextFor(modelItem => item.DiaChi)</p>
                <p>Số điện thoại: @Html.DisplayTextFor(modelItem => item.SDT)</p>
        </div>
}
