﻿<link href="~/Content/mystyle.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}
<div class="danhmuc">
    <a style="color:white">@Html.ActionLink("Món ăn","Index","YeuThichNhat")</a><a style="color:white">|</a>
    <a style="color:white">@Html.ActionLink("Địa điểm","Index","YeuThichNhat")</a><a style="color:white">|</a>
    <a style="color:white">@Html.ActionLink("Giá rẻ","Index","YeuThichNhat")</a>
    </div>

