﻿@model Blog_T6_3.Models.Post

@using (Html.BeginForm("Search", "Post", FormMethod.Post))
{

    <fieldset>
    <legend>Search</legend>
        <div>
            Find: @Html.TextBox("searchString")
            <input type="submit" value="Search" />
        </div>
    </fieldset>
}

