﻿@model Blog_T6_3.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
<fieldset>
    <legend>Comment</legend>
    <div id="result">
    @foreach (var Comment in Model.Comments.OrderByDescending(x => x.DateCreate).Take(10))
    {
    <div class="display-field">
        <h3>
        @Html.DisplayFor(x => Comment.Author)
        </h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => Comment.Body)
    </div>
         <div class="display-field">
        Cách đây: @Html.DisplayFor(x => Comment.LastTime) phút
    </div>
    }
        </div>
</fieldset>
@Html.Partial("_AddComment",new Blog_T6_3.Models.Comment(),ViewData)
<fieldset>
    <legend>Tag</legend>
    <h2>Tag</h2>
    <div class="post-tags">
        <b>Tags:</b>@foreach (var i in Model.Tags)
        {
            <b> @Html.ActionLink(i.Content, "Search", new { searchString = i.Content }) </b>
        }
    </div>
 </fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
