﻿@model IEnumerable<Website.Models.DiaDiem>

@{
    ViewBag.Title = "Search";
}

<div class="danhmuc">
    <a style="color:white"><h3>Tìm kiếm</h3></a>
    </div>
@foreach (var item in Model) {
    <div class="hinh">
        <a href="/Cafe/ChiTietDiaDiem/@Html.DisplayTextFor(modelItem => item.ID)">
            <img style="display: block; margin-left: auto; margin-right: auto;"src="@Html.DisplayTextFor(modelItem => item.HinhAnh)"width="300" height="300" />
        </a>
    </div>
        <div class="noidung">
            <a href="/Cafe/ChiTietDiaDiem/@Html.DisplayTextFor(modelItem => item.ID)">
                <h2>@Html.DisplayTextFor(modelItem=>item.Ten)</h2>
            </a> 
                <p>Địa chỉ: @Html.DisplayTextFor(modelItem => item.DiaChi)</p>
                <p>Số điện thoại: @Html.DisplayTextFor(modelItem => item.SDT)</p>
        </div>
    
}