﻿body {
    background: #fff;
    margin: 0;
    padding: 0;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
    text-align:right;
}
.main {
    width: 800px;
    padding:0 10px 0 10px;
    background: #f8f2f2;
    min-height:500px;
    margin: 0 auto;
}
.head {
    height: 120px;
    background:#fc8632;
    margin: 0 auto;
}
.tieude {
    height: 80px;
    width:680px;
    margin: -70px 80px;
}
.logo {
    height: 80px;
    width:80px;
    margin: 0px;
}
.khungmenu{
    height: 45px;
    background: #fff;
    margin:-30px 34px 0 34px;
    border:2px solid #ff6a00;
}
.menu {
    height: 45px;
    background: #fff;
}
.danhmuc {
    height:30px;
    width:800px;
    background:#fc8632;
    margin:0 auto;
    text-emphasis-color: #fff;
    outline: none;
    font-size: 1.5em;
    text-decoration: none;
}
.content {
    width:800px;
    min-height: 300px;
    background:#fff;
    margin:20px 0 0 0;
}
.hinh {
    height:300px;
    width:300px;
    padding:0 0 0 0;
    text-align:center;
    margin:5px 5px 5px 5px;
}
.noidung {
    height:300px;
    width:485px;
    margin:-305px 800px 5px 310px;
    overflow:hidden;
    text-overflow:ellipsis;
}
.line {
    width:796px;
    border:1px solid #ff6a00;
    margin:0 auto;
}
.footer {
    clear: both;
    width: 800px;
    background-color: #fc8632;
    height: 60px;
    margin: 0 auto;
}
.danhmuc a, .danhmuc a:hover, .danhmuc a:active {
    background: none;
    color: #fff;
    outline: none;
    text-decoration: none;
}
.site-title {
    color: #fff;
    font-family: Rockwell, Consolas, "Courier New", Courier;
    font-size: 2.3em;
    margin: 0;
}
.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #fff;
    outline: none;
    text-decoration: none;
}
*{ margin:0; padding:0;}
a{ text-decoration:none;}
ul{ list-style:none}
a:hover	{ text-decoration:underline;}
a:link{ color:#000}

.menu ul{ 
	float:left; 
	list-style:none; 
	width:100%
}

.menu ul li{
	float:left; 
	display:block;
}

.menu ul li a.top-link{ 
	height:32px; 
	display:block; 
	line-height:45px; 
    font-weight:bold; 
    text-transform:uppercase; 
	color:#ff6a00; 
	float:left; 
	padding: 0 15px
}
.down{ 
	display:none; /*quan trọng*/
	position:absolute; /*quan trọng*/
	min-width:300px; 
	padding: 10px 10px
}

.menu_down{ 
	float:left; 
	height:auto; 
	width:120px; 
	margin: 0 15px
}

.menu_down .p_menu{ 
	color:#fff; 
    background:#ff6a00;
	font-weight:bold; 
	margin:0 0 7px 0
}

.menu_down p{ margin:2px 0 2px 0; color:#fff}


.menu ul li a.top-link:hover{ 
    background:#ff6a00;
    height:100%;
	color:#fff; 
	text-decoration:none
}

.menu ul li:hover a.top-link{ 
    background:#ff6a00;
    height:100%;
	color:#fff;
}

.menu ul li:hover{ position:relative}/*quan trọng*/

.menu_down a:hover{ color:#CCCCCC}

.menu li:hover .down{ 
	display:block; /*quan trọng*/
	background:#ff6a00; 
	left:0; height:auto; z-index:100; 
	white-space:nowrap; 
	top:32px
}


#backtop{ 
	width:50px; height:50px; 
	position:fixed; bottom:10px; right:10px; 
	text-indent:-99999px;
	cursor:pointer
}
.thudon {
    height: 45px;
    background: #fff;
    margin: 0;
    border: 2px solid #ff6a00;
    padding: 0 15px;
}