﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/jquery-1.7.1.min.js"></script>
        <link href="~/Content/mystyle.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <div class="main">
            <div class="head">
                <div class="logo">
                    <a href="http://localhost:13205/TrangChu/PhonSuAmThuc"><img src="~/Content/Images/193.png" /></a> 
                    </div>    
                <div class="tieude">
                    <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Cùng đi ăn nào!", "PhongSuAmThuc", "TrangChu")    </p>
                    <p style="color:white">Giúp bạn lựa chọn dễ dàng hơn</p>
                    </div>
                <div class="float-right">
            <section id="login">
                        @Html.Partial("_LoginPartial")
                                            </section>
                    <a style="color:white">@Html.ActionLink("Thêm địa điểm","Index","DiaDiem")</a>
                    @Html.Partial("_TimViTri",new Website.Models.DiaDiem(),ViewData)
                    </div>
            </div>
         </div>
            <div class="khungmenu">
        <div class="menu">
            <ul id="nav">
                <li> 
                    <a href="http://localhost:13205/TrangChu/PhongSuAmThuc" class="top-link">Trang chủ</a>
                </li>
                <li> 
                    <a href="http://localhost:13205/Cafe/Cafe" class="top-link">Cafe</a>
                </li>
                <li> 
                    <a href="http://localhost:13205/NhaHang/NhaHangTiecCuoi" class="top-link">Nhà hàng</a>
                </li>
                <li> 
                    <a href="http://localhost:13205/QuanBinhDan/QuanCom" class="top-link">Quán bình dân</a>
                </li>
                <li> 
                    <a href="http://localhost:13205/YeuThichNhat/MonAn" class="top-link">Yêu thích nhất</a>
                </li>
                <li> 
                    <a href="http://localhost:13205/GoiY/GoiY" class="top-link">Gợi ý</a>
                </li>
                </ul>
        </div>
                </div>
            <div class="content">
                <div id="body">
                    @*@RenderSection("featured", required: false)*@
                    @RenderBody()
                </div>
            </div>
        <div class="footer"></div>
        @RenderSection("scripts", required: false)
        </div>
    </body>
</html>
