﻿@model Website.Models.DiaDiem

@using (Html.BeginForm("Search", "TimKiem", FormMethod.Post))
{
    <div>
    Món ăn, vị trí, tên địa điểm:<input type="text" id="String" name="String" style="width:initial"/><input type="submit" value="Tìm kiếm" style="margin:0 0 0 0"/>
        </div>
}