﻿@model Blog_T6_3.Models.Comment

<div class="display-field">
        <h3>
        @Html.DisplayFor(model => model.Author)
        </h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>
         <div class="display-field">
        Cách đây: @Html.DisplayFor(model => model.LastTime) phút
    </div>