﻿@model Website.Models.BinhLuan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BinhLuan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoiDung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayTao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NguoiBinhLuan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NguoiBinhLuan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LanCuoi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LanCuoi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DiaDiem.Ten)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiaDiem.Ten)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
