﻿<link href="~/Content/mystyle.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}
<div class="danhmuc">
    <a style="color:white">@Html.ActionLink("Nhà hàng tiệc cưới","Index","NhaHang")</a><a style="color:white">|</a>
    <a style="color:white">@Html.ActionLink("Nhà hàng Á","Index","NhaHang")</a><a style="color:white">|</a>
    <a style="color:white">@Html.ActionLink("Nhà hàng Âu","Index","NhaHang")</a>
    </div>
