﻿@model Website.Models.BinhLuan


@using (Html.BeginForm("Create", "BinhLuan",FormMethod.Post,new {id = "my-form"}))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Thêm bình luận</legend>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.NguoiBinhLuan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NguoiBinhLuan)
            @Html.ValidationMessageFor(model => model.NguoiBinhLuan)
        </div>
        @Html.Hidden("idpost",ViewData["idpost"])
        <p>
            <input type="submit" value="Bình luận" />
        </p>
    </fieldset>
}

