﻿@model Website.Models.DiaDiem

@{
    ViewBag.Title = "ChiTietDiaDiem";
}
<div class="content">
<div class="hinh">
    <img style="display: block; margin-left: auto; margin-right: auto;"src="@Html.DisplayTextFor(model => model.HinhAnh)"width="300" height="300" />
</div>
<div class="noidung">
    <p></p>
    <p>Ngày đăng: @Html.DisplayTextFor(model => model.NgayTao)</p>
       <h2> @Html.DisplayTextFor(model => model.Ten)</h2>
        <p>Địa chỉ :@Html.DisplayTextFor(model => model.DiaChi)</p>
        <p>Số điện thoại :@Html.DisplayTextFor(model => model.SDT)</p>
     <div class="thucdon">
        <div class="menu">
            <ul id="nav">
                <li> 
                    <p style="color: #ff6a00;font-size: 140%;font-weight: bold;"><a class="top-link">Thực đơn</a></p>
                        <div class="down">
                            <div class="menu_down">
                            <p>Tên món</p>
                            @foreach (var g in Model.ThucDons.ToList())
                            {
                                <p>@Html.DisplayTextFor(x => g.TenMon):</p>
                            }
                            </div>
                        <div class="menu_down">
                            <p>Giá</p>
                            @foreach (var h in Model.ThucDons.ToList())
                            {
                                <p>@Html.DisplayTextFor(x => h.Gia) đồng</p>
                            }
                        </div>
                            </div>
                        
                </li>
        </ul>
            </div>
        </div>
</div>
    <div style="text-align:center">
    <h2>Mô tả</h2>
        </div>
    <div style="text-align:justify">
    @Html.DisplayTextFor(model => model.MoTa)
        </div>
@Html.Partial("_ThemBinhLuan",new Website.Models.BinhLuan(),ViewData)
    <fieldset>
    <legend>Bình luận</legend>
    <div id="result">
    @foreach (var Comment in Model.BinhLuans.OrderByDescending(x => x.NgayTao).Take(10))
    {
    <div class="display-field">
        <h3>
        @Html.DisplayFor(x => Comment.NguoiBinhLuan)
        </h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => Comment.NoiDung)
    </div>
         <div class="display-field">
        Cách đây: @Html.DisplayFor(x => Comment.LanCuoi) phút
    </div>
    }
        </div>
</fieldset>
    <fieldset>
    <legend>Tag</legend>
    <div class="post-tags">
        <b>Liên quan:</b>@foreach (var i in Model.Tags)
        {
            <b> @Html.ActionLink(i.Content, "Search", new { searchString = i.Content }) </b>
        }
    </div>
 </fieldset>
</div>

<script src="~/Scripts/ThemBinhLuan.js"></script>