﻿<link href="~/Content/mystyle.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}
<div class="danhmuc">
    <a style="color:white">@Html.ActionLink("Quán cơm","Index","QuanBinhDan")</a><a style="color:white">|</a>
    <a style="color:white">@Html.ActionLink("Quán nhậu","Index","QuanBinhDan")</a><a style="color:white">|</a>
    <a style="color:white">@Html.ActionLink("Ăn vặt","Index","QuanBinhDan")</a>
    </div>
