﻿@model Website.Models.ThucDon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ThucDon</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenMon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenMon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DiaDiem.Ten)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiaDiem.Ten)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
