﻿@model Website.Models.ThucDon

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ThucDon</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TenMon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenMon)
            @Html.ValidationMessageFor(model => model.TenMon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gia)
            @Html.ValidationMessageFor(model => model.Gia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiaDiemID, "DiaDiem")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DiaDiemID", String.Empty)
            @Html.ValidationMessageFor(model => model.DiaDiemID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
