﻿@model Website.Models.BinhLuanBaiViet

<div class="display-field">
        <h3>
        @Html.DisplayFor(model => model.NguoiBinhLuan)
        </h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>
         <div class="display-field">
        Cách đây: @Html.DisplayFor(model => model.LanCuoi) phút
</div>