﻿@model Website.Models.BinhLuanBaiViet

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BinhLuanBaiViet</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoiDung)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NgayTao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NgayTao)
            @Html.ValidationMessageFor(model => model.NgayTao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NguoiBinhLuan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NguoiBinhLuan)
            @Html.ValidationMessageFor(model => model.NguoiBinhLuan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BaiVietID, "BaiViet")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BaiVietID", String.Empty)
            @Html.ValidationMessageFor(model => model.BaiVietID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>