﻿@model Website.Models.BinhLuanBaiViet

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BinhLuanBaiViet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoiDung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayTao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NguoiBinhLuan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NguoiBinhLuan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LanCuoi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LanCuoi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BaiViet.TenBaiViet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BaiViet.TenBaiViet)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
