﻿@model Website.Models.BinhLuanBaiViet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BinhLuanBaiViet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoiDung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayTao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NguoiBinhLuan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NguoiBinhLuan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LanCuoi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LanCuoi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BaiViet.TenBaiViet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BaiViet.TenBaiViet)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
