﻿@model Website.Models.BaiViet
@using (Html.BeginForm("Search", "TrangChu", FormMethod.Post))
{
        <div>
            Tag: @Html.TextBox("searchString")
            <input type="submit" value="Tìm kiếm" />
        </div>
}
