﻿@model Website.Models.BaiViet

@{
    ViewBag.Title = "ChiTiet";
}

<div class="danhmuc">
    <a style="color:white">@Html.ActionLink("Phóng sự ẩm thực","PhongSuAmThuc","TrangChu")</a><a style="color:white">|</a>
    <a style="color:white">@Html.ActionLink("Món ngon mỗi ngày","Index","TrangChu")</a><a style="color:white">|</a>
    <a style="color:white">@Html.ActionLink("Sức khoẻ","Index","TrangChu")</a>
    </div>
<div class="Content">
        Ngày đăng: @Html.DisplayTextFor(model => model.NgayTao)
        <div style="text-align:Center">
            <h2>@Html.DisplayTextFor(model => model.TenBaiViet)</h2>
                </div>
        <div style="text-align:justify">
        @Html.DisplayTextFor(model => model.NoiDung)
            </div>
        <div style="text-align:right">
        @Html.DisplayTextFor(model => model.TacGia)
            </div>
    @Html.Partial("_ThemBinhLuanBaiViet",new Website.Models.BinhLuanBaiViet(),ViewData)
     <fieldset>
    <legend>Bình luận</legend>
    <div id="result">
    @foreach (var Comment in Model.BinhLuanBaiViets.OrderByDescending(x => x.NgayTao).Take(10))
    {
    <div class="display-field">
        <h3>
        @Html.DisplayFor(x => Comment.NguoiBinhLuan)
        </h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => Comment.NoiDung)
    </div>
         <div class="display-field">
        Cách đây: @Html.DisplayFor(x => Comment.LanCuoi) phút
    </div>
    }
        </div>
</fieldset>
    <fieldset>
    <legend></legend>
    <div class="post-tags">
        <b>Liên quan:</b>@foreach (var i in Model.Tags)
        {
            <b> @Html.ActionLink(i.Content, "Search", new { searchString = i.Content }) </b>
        }
    </div>
 </fieldset>
</div>
<script src="~/Scripts/ThemBinhLuanBaiViet.js"></script>