﻿@model IEnumerable<Website.Models.BaiViet>

@{
    ViewBag.Title = "PhongSuAmThuc";
}
<div class="danhmuc">
    <a style="color:white">@Html.ActionLink("Phóng sự ẩm thực","PhongSuAmThuc","TrangChu")</a><a style="color:white">|</a>
    <a style="color:white">@Html.ActionLink("Món ngon mỗi ngày","MonNgonMoiNgay","TrangChu")</a><a style="color:white">|</a>
    <a style="color:white">@Html.ActionLink("Sức khoẻ","SucKhoe","TrangChu")</a>
    </div>
@foreach (var item in Model) {
    <div class="hinh">
        <a href="/TrangChu/ChiTiet/@Html.DisplayTextFor(modelItem => item.ID)">
            <img style="display: block; margin-left: auto; margin-right: auto;"src="@Html.DisplayTextFor(modelItem => item.HinhAnh)"width="300" height="300" />
        </a>
    </div>
    <div class="noidung">
            <a href="/TrangChu/ChiTiet/@Html.DisplayTextFor(modelItem => item.ID)">
                <h2>@Html.DisplayTextFor(modelItem=>item.TenBaiViet)</h2>
            </a> 
                <div style="text-align:justify">
                    <a href="/TrangChu/ChiTiet/@Html.DisplayTextFor(modelItem => item.ID)">
                    @Html.DisplayTextFor(modelItem => item.NoiDung)
                    </a>
                </div>     
        </div>
}

