﻿@model Website.Models.ThucDon

@using (Html.BeginForm("Create", "ThucDon", FormMethod.Post, new { id = "my-formtd" })) 
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Thêm thực đơn</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TenMon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenMon)
            @Html.ValidationMessageFor(model => model.TenMon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gia)
            @Html.ValidationMessageFor(model => model.Gia)
        </div>
         @Html.Hidden("idpost",ViewData["idpost"])
        <p>
            <input type="submit" value="Thêm món" />
        </p>
    </fieldset>
}
