﻿@model Website.Models.DiaDiem

@using (Html.BeginForm("Search", "DiaDiem", FormMethod.Post))
{

    <fieldset>
    <legend>Tìm kiếm</legend>
        <div>
            Tìm kiếm: @Html.TextBox("searchString")
            <input type="submit" value="Search" />
        </div>
    </fieldset>
}