﻿<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/ckfinder/ckfinder.js"></script>
<script type="text/javascript">
    $(function () {
        $("#Browser").click(function () {
            var ckfinder = new CKFinder();
            ckfinder.selectActionFunction = function (fileUrl) {
                $("#Images").val(fileUrl)
            };
            ckfinder.popup();
        });
    });
</script>
@model Website.Models.DiaDiem

@{
    ViewBag.Title = "Create";
}

<h2>Thêm địa điểm mới</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Địa điểm</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ten)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ten)
            @Html.ValidationMessageFor(model => model.Ten)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChuDe)
        </div>
        <div class="editor-field">
            <div class="editor-field">
            @Html.DropDownList("ChuDe",new SelectList(new []{"Trang chủ","Cafe","Nhà hàng","Quán bình dân","Yêu thích nhất","Gợi ý"}))
            @Html.ValidationMessageFor(model => model.ChuDe)
        </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChuDeCon)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ChuDeCon",
            new SelectList(new []{"Phóng sự ẩm thực","Món ngon mỗi ngày","Sức khoẻ",
            "Cafe","Kem","Phòng Trà",
            "Nhà hàng tiệc cưới","Nhà hàng Á","Nhà hàng Âu",
            "Quán cơm","Quán nhậu","Ăn vặt",
            "Món ăn","Địa điểm","Giá rẻ",
            "Gợi ý"}))
            @Html.ValidationMessageFor(model => model.ChuDeCon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MoTa)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.MoTa, new { @id="NoiDung"})
            <script type="text/javascript">
                CKEDITOR.replace("NoiDung");
            </script>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiaChi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiaChi)
            @Html.ValidationMessageFor(model => model.DiaChi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KhuVuc)
        </div>
        <div class="editor-field">
            @Html.DropDownList("KhuVuc",new SelectList(new []{"Quận 1","Quận 2","Quận 3","Quận 4","Quận 5","Quận 6","Quận 7","Quận 8","Quận 9","Quận 10","Quận 11","Quận 12","Quận Thủ Đức","Quận Gò Vấp","Quận Bình Thạnh","Quận Tân Bình","Quận Tân Phú","Quận Phú Nhuận","Quận Bình Tân"}))
            @Html.ValidationMessageFor(model => model.KhuVuc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SDT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SDT)
            @Html.ValidationMessageFor(model => model.SDT)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.HinhAnh)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.HinhAnh, new { @id="Images"})
            <input id="Browser" type="button" value="Chọn ảnh" />
        </div>
        <div class="editor-label">
            Tag:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model =>new Website.Models.Tag().Content)
            @Html.ValidationMessageFor(model =>new Website.Models.Tag().Content)
        </div>
        <p>
            <input type="submit" value="Thêm địa điểm" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Trở về danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
