﻿@model Website.Models.DiaDiem

@{
    ViewBag.Title = "Delete";
}

<h2>Xoá</h2>

<h3>Bạn có muốn xoá?</h3>
<fieldset>
    <legend>DiaDiem</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ten)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ten)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChuDe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChuDe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChuDeCon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChuDeCon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MoTa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MoTa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DiaChi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiaChi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KhuVuc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KhuVuc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayTao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LuotThich)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LuotThich)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.HinhAnh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HinhAnh)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Xoá" /> |
        @Html.ActionLink("Trở về danh sách", "Index")
    </p>
}
