﻿@model Website.Models.DiaDiem

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết địa điểm</h2>

<fieldset>
    <legend>Địa điểm</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ten)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ten)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChuDe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChuDe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChuDeCon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChuDeCon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MoTa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MoTa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DiaChi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiaChi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KhuVuc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KhuVuc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayTao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LuotThich)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LuotThich)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.HinhAnh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HinhAnh)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
    <fieldset>
<legend>Thực đơn</legend>
    <div id="result1">
    @foreach (var Comment in Model.ThucDons.ToList())
    {
    <p><a>Món</a> <a>@Html.DisplayTextFor(x => Comment.TenMon)</a>  <a>:</a><a> @Html.DisplayTextFor(x => Comment.Gia) đồng</a> </p>
    }
        </div>
</fieldset>
@Html.Partial("_ThemThucDon",new Website.Models.ThucDon(),ViewData)
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Trở về danh sách", "Index")
</p>
<script src="~/Scripts/ThemThucDon.js"></script>
