﻿<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/ckfinder/ckfinder.js"></script>
@model Website.Models.BaiViet

<h2>Thêm bài viết</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Bài viết</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TenBaiViet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenBaiViet)
            @Html.ValidationMessageFor(model => model.TenBaiViet)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChuDe)
        </div>
       <div class="editor-field">
            @Html.DropDownList("ChuDe",new SelectList(new []{"Trang chủ","Cafe","Nhà hàng","Quán bình dân","Yêu thích nhất","Gợi ý"}))
            @Html.ValidationMessageFor(model => model.ChuDe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChuDeCon)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ChuDeCon",
            new SelectList(new []{"Phóng sự ẩm thực","Món ngon mỗi ngày","Sức khoẻ",
            "Cafe","Kem","Phòng Trà",
            "Nhà hàng tiệc cưới","Nhà hàng Á","Nhà hàng Âu",
            "Quán cơm","Quán nhậu","Ăn vặt",
            "Món ăn","Địa điểm","Giá rẻ",
            "Gợi ý"}))
            @Html.ValidationMessageFor(model => model.ChuDeCon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoiDung)
        </div>
        <div class="editor-field">
             @Html.TextAreaFor(model => model.NoiDung, new { @id="NoiDung"})
            <script type="text/javascript">
                CKEDITOR.replace("NoiDung");
            </script>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TacGia)
        </div>
        <div class="editor-field">
           @Html.EditorFor(model => model.TacGia)
            @Html.ValidationMessageFor(model => model.TacGia)
        </div>
          <div class="editor-label">
            @Html.LabelFor(model => model.HinhAnh)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.HinhAnh, new { @id="Images"})
            <input id="Browser" type="button" value="Chọn ảnh" />
        </div>
         <div class="editor-label">
            Tag:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model =>new Website.Models.Tag().Content)
            @Html.ValidationMessageFor(model =>new Website.Models.Tag().Content)
        </div>
        <p>
            <input type="submit" value="Thêm bài viết" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Trở về danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(function () {
        $("#Browser").click(function () {
            var ckfinder = new CKFinder();
            ckfinder.selectActionFunction = function (fileUrl) {
                $("#Images").val(fileUrl)
            };
            ckfinder.popup();
        });
    });
</script>