﻿@model Website.Models.BaiViet

<h2>Xoá bài viêt</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BaiViet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenBaiViet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenBaiViet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChuDe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChuDe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChuDeCon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChuDeCon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoiDung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayTao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TacGia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TacGia)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.HinhAnh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HinhAnh)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Xoá" /> |
        @Html.ActionLink("Trở về danh sách", "Index")
    </p>
}
