﻿@model Website.Models.BaiViet

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết bài viết</h2>

<fieldset>
    <legend>Bài viết</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenBaiViet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenBaiViet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChuDe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChuDe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChuDeCon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChuDeCon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoiDung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayTao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TacGia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TacGia)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.HinhAnh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HinhAnh)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Trở về danh sách", "Index")
</p>
