﻿@model Website.Models.ThongTinCaNhan

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ThongTinCaNhan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HoTen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoTen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GioiTinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GioiTinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgaySinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgaySinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoBaiDang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoBaiDang)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LuotDanhGia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LuotDanhGia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DoTinCay)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DoTinCay)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
