﻿@model Website.Models.ThongTinCaNhan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ThongTinCaNhan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HoTen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoTen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GioiTinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GioiTinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgaySinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgaySinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoBaiDang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoBaiDang)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LuotDanhGia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LuotDanhGia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DoTinCay)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DoTinCay)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserProfileUserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
