﻿@model IEnumerable<Website.Models.ThongTinCaNhan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoBaiDang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuotDanhGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoTinCay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoBaiDang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuotDanhGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoTinCay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserProfileUserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserProfileUserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserProfileUserId })
        </td>
    </tr>
}

</table>
