﻿@model Website.Models.DanhGia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DanhGia</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GiaCa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GiaCa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChatLuong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChatLuong)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhucVu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhucVu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ViTri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ViTri)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
