﻿@model Website.Models.DanhGia

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DanhGia</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.GiaCa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GiaCa)
            @Html.ValidationMessageFor(model => model.GiaCa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChatLuong)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChatLuong)
            @Html.ValidationMessageFor(model => model.ChatLuong)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhucVu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhucVu)
            @Html.ValidationMessageFor(model => model.PhucVu)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ViTri)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ViTri)
            @Html.ValidationMessageFor(model => model.ViTri)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
